<div id="domains" style="float:left">
<<<<<<< HEAD
  <%= select_tag "domains", options_for_select(@domains, @domain), :size => 5, :onChange => "domOnSelectChange()" %>
=======
  <%= select_tag "domainlist", options_for_select(@domains, @domain), :selected => nil,  :size => 5, :onClick => "domOnClickChange()" %>
  <div id="spinner_domains" style="display: none; float:right"><%=image_tag('spinner.gif')%>  </div>
>>>>>>> 4855f6a... [query][webui]Added spinner and correct timers to list functions
  <%=image_tag('arrow.png', :alt => "List shares and users", :title => "List shares and users")%>
  <br/>
  <%= select_tag "domfunc", options_for_select(["","total", "top","usage", "last_activity"])%>
  <%= submit_tag "Go", :class => "dom", :onclick => "startFunction()" %>
  <%= hidden_field_tag "domain", @domain %>
</div>
<div id="spinner_getshares" style="display: none; float:left"><%=image_tag('spinner.gif')%>  </div>
