<div id="domains" style="float:left">
  <%= select_tag "domains", options_for_select(@domains, @domain), :size => 5, :onChange => "domOnSelectChange()" %>
  <%= image_tag "arrow.png", :onClick => "getShares()" %>
  <br/>
  <%= select_tag "domfunc", options_for_select(["","total", "top","usage", "last_activity"])%>
  <%= submit_tag "Go", :class => "dom", :onclick => "startFunction()" %>
  <%= hidden_field_tag "domain", @domain %>
</div>
