<div id="files" style="float:left">
  <%= select_tag "filelist", options_for_select(@files, @file), :size => 10 %>
  <div id="spinner_files" style="display: none; float:right"><%=image_tag('spinner.gif')%>  </div>
  <br/>
  <%= select_tag "filefunc", options_for_select(["","total", "top","usage", "last_activity"])%>
  <%= submit_tag "Go", :class => "file", :onclick => "startFunction()" %>
  <%= hidden_field_tag "domain", @domain %>
  <% content_for :javascript %>
</div>
