<div id="shares" style="float:left">
  <%= select_tag "shares", options_for_select(@shares, @share), :size => 5, :onChange => "shareOnSelectChange()" %>
  <%= image_tag "arrow.png", :onClick => "getShares()" %>
  <br/>
  <%= select_tag "sharesfunc", options_for_select(["","total", "top","usage", "last_activity"], @function)%>
  <%= hidden_field_tag "domain",  @domain %>
  <%= hidden_field_tag "share", @share %>
</div>