<div id="users" style="position:relative;">
  <table>
    <tr><th>Users</th></tr>
    <tr><td><%= select_tag "userlist", options_for_select(@users, @user), :size => 5, :onClick => "shareOnClickChange()" %></td></tr>
  </table>
  <div id="user_diff" class="diff"><%=image_tag('diff.png')%></div>
  <%= select_tag "userfunc", options_for_select(["","total", "top","usage", "last_activity"], @function)%>
  <%= hidden_field_tag "domain",  @domain %>
  <%= hidden_field_tag "share", @share %>
  <%= hidden_field_tag "user", @user %>
</div>
</div>
