<div id="<%=@divname%>" class ="defined_function">
  <%=link_to image_tag('function-printview.png', :id=> "printview_function_" + @divname, :class => "printview_function", :onmouseover => "highlightPrintview('#{@divname}')", :onmouseout => "resetPrintview('#{@divname}')"), {:controller => "functions", :action => "printview", :cmd => @cmd}, :target => "_blank" %>
  <%=image_tag('function-refresh.png', :id=> "refresh_function_" + @divname, :class => "refresh_function",:onmouseover => "highlightRefresh('#{@divname}')", :onmouseout => "resetRefresh('#{@divname}')",  :onclick => "refreshFunction('#{@divname}')")%>
  <%=image_tag('function-close.png', :id=> "close_function_" + @divname, :class => "close_function",:onmouseover => "highlightClose('#{@divname}')", :onmouseout => "resetClose('#{@divname}')",  :onclick => "closeFunction('#{@divname}')")%>
  <div id="spinner_function_<%=@divname%>" class="spinner"><%=image_tag('spinner.gif')%>  </div>
  <%= @output %>
  <%=hidden_field_tag "function_"+@divname, @cmd%>
</div>