<div id="shares_and_users">
  <%=@test%>
  <div id="shares">
    <table>
      <tr>
        <th>Shares</th>
      </tr>
      <tr>
        <td>
          <%= select_tag "sharelist", options_for_select(@shares, @share), :size => 7,
            :onclick => "shareOnClickChange()" %>
        </td>
        <td><%= image_tag('arrow.png', :alt => "List files", :title => "List files") %></td>
      </tr>
    </table>
    <div id="spinner_shares" class="spinner">
      <%= image_tag('spinner.gif') %>
    </div>
    <div id="share_diff" class="diff">
      <%=image_tag('diff.png')%>
    </div>
    <div id="spinner_getfiles" class="spinner">
      <%=image_tag('spinner.gif')%>
    </div>
  </div>
  <div id="users">
    <table>
      <tr>
        <th>Users</th>
      </tr>
      <tr>
        <td>
          <%= select_tag "userlist", options_for_select(@users, @user), :size => 6,
            :onclick => "shareOnClickChange()" %>
        </td>
      </tr>
    </table>
    <div id="user_diff" class="diff">
      <%=image_tag('diff.png')%>
    </div>
  </div>
</div>
